<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @game.code %>
</p>

<p>
  <strong>Share the link to invite people:</strong>
  <%= link_to(game_url(@game.code), game_url(@game.code)) %>
</p>
